<br> <br>
<%= form_tag "/", method: :get do %>
  <%= submit_tag 'Home' %>
<% end %>
<br> <br>
<table>
  <tr>
    <th>URL</th>
    <th>Name</th>
    <th>Delete</th>
    <th>Update</th>
    <th>Subscriber Name</th>
  </tr>
  <% @websites.all.each do |website| %>
  	<tr>
  		<td> <a href = "http://<%= website.url %>" target = "_blank"> <%= website.url %> </a> </td>
  		<td> <%= website.url[4..-5].capitalize %> </td>
  		<td>
  			<%= form_tag "/websites/#{website.id}", method: :delete do %>
					<%= submit_tag 'Delete' %>
				<% end %>
			</td>
      <td>
        <%= form_tag "websites/#{website.id}", method: :put do %>
          <%= text_field_tag 'url', params[:url], placeholder: "Enter the url here" %>
          <%= text_field_tag 'email', params[:email], placeholder: "Enter the email here" %>
          <%= submit_tag 'Update' %>
        <% end %>
      </td>
			<td> <%= website.subscriber.name %> </td>
  	</tr>
  <% end %>
</table>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <% yield %>
  <% debug(params) if Rails.env.development? %>
</div>