<%= render 'shared/nav' %>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <% yield %>
  <% debug(params) if Rails.env.development? %>
</div>

<div class="container">
  <h3> Team <%= current_user.account.team_name %> </h3>
  <br>
  <table class = "table table-striped table-bordered">
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>Name</th>
      <th>Delete</th>
      <th>Tracking</th>
      <!-- <th>Update</th> -->
      <th>Subscriber Name</th>
      <th>Last checked</th>
      <th>Quick report</th>
    </tr>
    <% @websites.each do |website| %>
    	<tr>
        <td> <%= website.id %> </td>
        <% if website.url[0..3] == 'http' %>
    		  <td> <a href = "<%= website.url %>" target = "_blank"> <%= truncate(website.url) %> </a> </td>
        <% else %>
          <td>  <a href = "http://<%= website.url %>" target = "_blank"> <%= truncate(website.url) %> </a> </td>
        <% end %>
        <td> <%= website.friendly_name %> </td>
    		<td>
    			<%= form_tag "/websites/#{website.id}", method: :delete do %>
  					<%= submit_tag 'Delete', class: "btn btn-danger center-block" %>
  				<% end %>
  			</td>
        <% if !website.priority %>
          <td>
            <%= form_tag "/websites/#{website.id}", method: :put do %>
              <%= submit_tag 'Resume', class: "btn btn-success center-block" %>
            <% end %>
          </td>
        <% else %>
          <td>
            <%= form_tag "/websites/#{website.id}", method: :put do %>
              <%= submit_tag 'Pause', class: "btn btn-info center-block" %>
            <% end %>
          </td>
        <% end %>
        <!-- <td>
          <%= form_tag "websites/#{website.id}", method: :put do %>
            <%= text_field_tag 'url', params[:url], placeholder: "Enter the url here", class: "form-control" %>
            <%= submit_tag 'Update', class: "btn btn-primary center-block" %>
          <% end %>
        </td> -->
  			<td> <%= website.user.name %> </td>
        <% diff_in_sec = Time.now - website.old_time %>
        <% if (diff_in_sec / 60) > 60 %>
          <td> About <%= ((diff_in_sec / 60) / 60).to_i %> hours ago </td>
        <% else %> 
          <td> <%= (diff_in_sec / 60).to_i %> minutes ago </td>
        <%end%>
        <td>
          <%= form_tag "websites/#{website.id}", method: :get do %>
            <%= submit_tag '2 weeks report', class: "btn btn-primary center-block" %>
          <% end %>
        </td>
    	</tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('.alert').remove();
  }, 3000);
 })
</script>