<!DOCTYPE html>
<html>
  <head>
  	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> 
  	<h4>Hi <%= @subscriber.name %></h4>
    <p> The web page <%= @website.url %> seems to have changed. We have attached two screenshots, an initial one and another screenshot containing the change. Please reach out to us if you have any queries </p>
    <!-- <p> The difference is <%= @diff %> </p> -->
    <table>
      <tr>
        <th> Old screenshot </th>
        <td> <%= @website.old_time.localtime.strftime('%c') %> </td>
      </tr>
      <tr>
        <th> New screenshot </th>
        <td> <%= @website.new_time.localtime.strftime('%c') %> </td>
      </tr>
    </table>
    <% if JSON.parse(@website.analytics).include?("a/b-testing") %>
      <p> The website uses a-b testing and this might affect your results </p>
    <% end %>
    <p> You can pause / delete tracking this website anytime by going to the dashboard </p>
  </body>
</html>
